@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

#container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  background-color: rgb(217, 221, 238)
}

h1 {
  font-family: 'Black Ops One', cursive;
}

p {
  font-size: 15pt;
}


#playerWon {
  font-size: 30pt;
}


.gameboard {
  display: grid;
  grid-template-columns: 200px 200px 200px; /*1st column, 2nd column, 3rd column width*/
  grid-template-rows: 200px 200px 200px;
}

.box {
  border: 5px solid rgb(212, 101, 230);
  font-size: 40pt;
  padding-top: 50px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

button {
  margin: 20px 0 20px 0;
  background: #eb94d0;
  border-radius: 28px;
  font-family: Arial;
  font-size: 15px;
  color: #fafafa;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
